.sk-arche-stack {
    min-height: calc(100vh - 400px);
    background-color: #efefef;
}

.sk-evemonic-cardrow {
    display: grid;
    grid-template-columns: 120px auto 200px 100px 70px;
    border: 1px solid #80808061;
    border-top: none;
    background: white;
}

.sk-evemonic-cardrow:first-child {
    border-top:  1px solid #80808061 !important;
}

.sk-evemonic-cardrow > div {
    padding: 4px;
}

.sk-evemonic-entrance > div {
    background-color: rgba(0, 255, 255, 0.041);
}

.sk-evemonic-exit > div {
    background-color: rgba(255, 0, 55, 0.041);
}

.sk-drform-label {
    color: rgb(43, 43, 43);
    margin-bottom: 6px;;
}
.sk-dform-enttab {
    background: #bde9d1;
    font-size: large;
    font-weight: 500;
    padding: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid #339c6252;
    border-radius: 3px;
}
.sk-dform-exttab {
    background: #ffd2d2;
    font-size: large;
    font-weight: 500;
    padding: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ff000052;
    border-radius: 3px;
}