.sk-grot-line {
    display: grid;
    grid-template-columns: repeat(366, 1fr);
}

.sk-grot-cell {
    min-height: 33px;
    background-color: rgb(205, 205, 223);
}

.sk-grot-cell:hover {
    /* transition: all 0.4s; */
    background-color: rgb(231, 23, 92);
}

.sk-grot-nextmonth {
    border-right: 1px solid red;
}