.sk-grot-line {
    display: grid;
    grid-template-columns: 190px auto;
}
.sk-grot-line:nth-child(odd) {
    
    background-color: var(--row-hovered-bg-color);
}
.sk-grot-line:nth-child(even) {
    
    background-color: var(--row-second-bg-color);
}

.sk-grot-cell {
    min-height: 24px;
    /* background-color: rgb(205, 205, 223); */
}

.sk-grot-cell:hover > div {
    /* transition: all 0.4s; */
    /* background-color: rgb(231, 23, 92); */
    background-color: var(--row-selected-color);
}

.sk-grot-nextmonth {
    border-right: 1px dashed rgb(0 0 0 / 60%);
}
.sk-grot-name {
    border-right: 1px dashed rgb(0 0 0 / 60%);
}

.sk-grot-line-days{
    display: flex;
    flex-direction: row;
}
.sk-grot-line-days > div {
    width: 100%;
    text-align: center;
}

.sk-grot-striped > div {
    /* background-color: rgba(0, 166, 255, 0.062); */
    border-left: 1px solid var(--column-divider-color);
}

.sk-grot-name {
    display: flex;
    padding: 7px;
    /* font-size: medium; */
}
.sk-grot-striped > div > * {

    width: 100%;
    height: 100%;
    display: flex;
        justify-content: center;
    align-items: center;
}

.skgrot-line-header > div {
 font-size: small;
 min-height: 24px;
 text-align: center;
}

.sk-grot-wd {
        background-color: #8181811b;
    /* border-bottom: 3px solid red; */
}


.sk-grot-line:hover > div {
    background-color: #0a9ffe24;
}

.sk-grot-item {
    color: gray;
    height: 100%;
        display: flex;
        justify-content: center;
    align-items: center;
    min-height: 36px;
}
.sk-grot-monthrow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    border-right: 1px dashed rgb(0 0 0 / 60%);
}
.sk-grot-monthrow > div {
    padding: 6px;
    min-width: 70px;
    width: 100%;
    transition: all 0.2s;
    cursor: pointer;

}
.sk-flex-center {
    display: flex;
    align-items: center;
}
.sk-grot-monthrow > div > div {
    text-align: center;
    width: 100%;
            display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
}
.sk-grot-month-hovered {
    color: black;
    font-weight: bold;
    background-color: #0a9ffe24;
}
.sk-grot-hover-col {
    background-color: #0a9ffe24;
}

.sk-grot-vacc-cell {
    background-color: rgba(255, 115, 0, 0.467);
}

.sk-grot-vacc-cell-approved {
    background-color: rgb(255, 115, 0);
}

.sk-grot-vacc-cell:first-child {
    /* border-left: 5px solid red; */
}
