.sk-flex-gap {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
     padding: 15px 0 10px 0px;
}
.sk-flex-gap > div {
    display: flex;
    grid-gap: 3px;
}

.ts-toolbar {
    display: flex;
    justify-content: space-between;
}


/* .sk_state_outside > td:first-child {
    border-left: 9px solid  #d27474;
}
.sk_state_active > td:first-child {
    border-left: 9px solid #6dcdbd;
}
.sk_state_somewhere > td:first-child {
    border-left: 9px solid #fce08a;
} */

/* td {
    background-color: #ffffff;
}
    */
td:first-child {
    /* background: rgb(255,255,255); */
/* background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); */
} 

.sk_table_headrow , .sk_table_headrow > .ant-table-cell-row-hover {
    background-color: rgb(224, 224, 224) !important;
}


.sk_table_headrow > td:first-child{
    background: none;
}

.sk-user-view-table{
    width: 100%;
}
.sk-user-view-table tr > td {
    border-bottom: 1px dotted rgb(185, 185, 185);
}
.sk-table-current-user {
    background-color: #1677ff15;
}
.sk-table-current-user > td {
    border-top: 2px solid #1677ff;
    border-bottom: 2px solid #1677ff !important;
}
.sk-table-current-user > td:first-child{
    border-left: 2px solid #1677ff;
}
.sk-table-current-user > td:last-child{
    border-right: 2px solid #1677ff;
}

@media screen and (max-width: 1200px) {
    main {
        padding: 0px !important;
    }
    .ts-toolbar {
        padding: 0px 12px !important;
    }
}

.sk-table-username {
    font-size: initial;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.ant-table-row td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: smaller;
    color: #7e7e7e;
    font-weight: 600;

}
.sk-table-state-badge {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: block;
    margin-right: 12px;
    opacity: 0.7;
    transition: all 0.3s;
}


.sk_state_outside .sk-table-state-badge {
    background-color:#e46868;
}
.sk_state_active .sk-table-state-badge {
    background-color:#3fd88b;
}
.sk_state_somewhere .sk-table-state-badge {
    background-color:#fcd665;
}
.ant-table-row:hover .sk-table-state-badge {
    opacity: 1;
}


.sk-main-menu {
    box-shadow: 0 5px 10px 4px #223c5033;
}

.sk-flight-table {
    box-shadow: 0 5px 10px 0px #223c5033;
    margin-bottom: 22px;
}


.sk-mw-1000 {
    max-width: 1000px;
    margin: auto;
}

.sk-smaller {
font-size: smaller;
}