


.sk-table-aclskud-row {
    display: grid;
    grid-template-columns: 30px  53px 2fr 3fr 100px;
    /* color: rgb(199, 199, 199); */
}

.sk-table-aclskud-row:hover:not(.sk-act-divider):not(.sk-table-aclskud-header) > div {
    background-color: var(--row-hovered-bg-color);
}
.sk-table-aclskud-header {
    background-color: var(--row-header-color);
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #80808061;
    backdrop-filter: blur(12px);

}
/* .ant-affix .sk-table-aclskud-header {
    z-index: 999999;
    position: relative;
} */
.sk-table-aclskud-header > div {
    background-color: white;
}

.sk-table-aclskud-groupcol {
    display: grid;
    grid-template-rows: auto 24px;
    /* border-left: 1px solid var(--column-divider-color);
    border-right: 1px solid var(--column-divider-color); */
}
.sk-table-aclskud-multicol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    /* padding-left: 5px;
    padding-right: 5px; */
    height: 100%;
    width: 100%;
}
.sk-teble-prehead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid var(--column-divider-color);
}
.sk-table-aclskud-multicol > div, .sk-teble-prehead > div {
    border-right: 1px solid var(--column-divider-color);
    /* border-right: 1px solid var(--column-divider-color); */
}
.sk-table-aclskud-multicol > div:first-child, .sk-teble-prehead > div:first-child {
    border-left: 1px solid var(--column-divider-color);
    /* border-right: 1px solid var(--column-divider-color); */
}

.sk-table-aclskud-data {
    border-bottom: 1px solid var(--table-border-divider-color);
    /* background-color: rgba(0, 0, 0, 0.262); */
}
.sk-table-aclskud-header .sk-table-aclskud-multicol {
    text-align: center;
}
.sk-aclchecker {
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    padding: 2px;
    font-size: larger;
    min-height: 29px;
}
.sk-aclchecker  {
    background-color: rgba(255, 255, 255, 0.541);
    border: 1px solid rgba(0, 0, 0, 0.021);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    transition: all 0.2s;
}
.sk-aclchecker:hover {
    
    border: 1px solid rgba(7, 145, 236, 0.671) !important;
    /* background-color: rgba(3, 125, 207, 0.171); */
    background-color: rgba(255, 255, 255, 0.801);
}


.sk-table-aclskud-row:not(.sk-table-aclskud-header) > div {
    display: flex;
    align-items: center;
}
.sk-table-userName {
    font-size:larger;
    padding: 3px;
    width: 100%;
    user-select: none;
    /* color: white; */
}

.sk-act-mainrow {
    background-color: var(--row-main-bg-color);
}
.sk-act-subrow {
    /* background-color: #0000006e; */
    background-color: var(--row-second-bg-color);
}
.sk-act-divider {
    background-color: var(--row-divider-color);
    align-content: center;
    height: 100%;
}
.sk-act-divider > div {
    padding-top: 3px;
    padding-bottom: 3px;

}
.sk-offset-x {
    padding-left: 12px;
}
.sk-cooxer-arrow {
    /* background-color: red; */
    cursor: pointer;
    padding: 3px 6px;
}

.sk-table-triggers span {
    opacity: 0.3;
}
.sk-table-aclskud-row:hover .sk-table-triggers span {
    opacity: 0.9;
}
.sk-act-templaterow {
    background-color: #ffc10721;
}

.sk-table-aclskud-row:hover .sk-aclchecker {
    border: 1px solid rgba(128, 128, 128, 0.452);
}
.sk-row-wrapper-of-template {
    outline: 1px solid rgba(128, 128, 128, 0.295);
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.274);
    z-index: 99;
    /* position: relative; */
}    

.sk-row-wrapper-of-template:before {
    display: block;
    content: "ШАБЛОН";
    width: 200px;
    height: 23px;
    position: absolute;
    transform: rotate(-90deg);
    background-color: #ffc10721;
    text-align: center;
    margin-left: -117px;
    margin-top: 128px;
    color: rgb(161, 161, 161);
    font-weight: bolder;
    outline: 1px solid rgba(128, 128, 128, 0.295);
}
.sk-table-aclskud-row > div:first-child {
    display: flex;
        align-items: center;
        justify-content: center;
}
.sk-table-triggers > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.sk-table-template-trigger {
    font-size:small;
    color: rgb(25, 115, 175);
    border:rgba(7, 145, 236, 0.671) 1px solid;
    border-radius: 3px;
    background-color: white;
    opacity: 0.4;
    transition: all 0.3s;
    outline: rgba(7, 144, 236, 0) 1px solid;
    user-select: none;
}
.sk-table-aclskud-row:hover .sk-table-template-trigger  {
    opacity: 1;
}
.sk-table-template-trigger:active {
    /* background-color: #ebdcb1; */
    outline: rgba(7, 145, 236, 0.671) 2px solid;
}
.sk-table-triggers > div:active {
    color: rgb(25, 115, 175);
}

.sk-select-visicom {
    font-size: medium;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #dddddd;
}
.sk-fttx-buttons {
    background-color: #fff7df;
}

.sk-table-aclskud * {
    user-select: none;
}
.sk-table-aclskud {
    padding-bottom: 50vh;
}

.sk-table-aclskud-multicol {
    background-color: #80808000;
    transition: all 0.5s;
}
.sk-saved-row {
    background-color: #80808000;
}
.sk-pending-row {
    background-color: rgba(251, 255, 0, 0.411);
}
.sk-saving-row {
    background-color: rgba(0, 217, 255, 0.411);
}
.sk-aclchecker {
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.644);
}
/* .sk-aclchecker.ack-checked {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 150, 0, 0.397);
} */