.sk-um-as-cards.sk-um-userlist {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 100%;
}

.sk-um-as-table {
    border: 1px solid rgba(0, 0, 0, 0.103);
}



.sk-um-as-cards .sk-um-card {
    box-shadow: 0 5px 10px 0px #223c5025;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.103); */
    border-radius: 6px;
    transition: all 0.3s;
}
.sk-um-card > div {
    transition: all 0.2s;
    background-color: #0091ff00;
}

.sk-um-as-cards .sk-um-card:hover {
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.397);
}

.sk-um-card:nth-child(odd) > div {
    background-color: #ffea0315;
}
.sk-um-card:last-child {
    margin-bottom: 50vh;
}
.sk-um-card > div {
    transition: all 0.3s;

}
.sk-um-card:hover {
    background-color: rgb(239, 239, 239);
}

.sk-um-as-table .sk-um-card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.152);
    border-top: 1px solid rgba(255, 255, 255, 0.451);
}
.sk-um-as-cards .sk-um-card {
    border-top: 1px solid rgba(0, 0, 0, 0.064);
}
.sk-um-card  .skum-card-content {
    opacity: 0.85;
}
.sk-um-card:hover .skum-card-content {
    opacity: 1 !important;
}

.sk-um-card-selected {
    outline: 1px solid rgb(43, 137, 226);
    /* background-color:  rgba(0, 132, 255, 0.108) !important; */
}
.sk-um-as-table .sk-um-card-selected {
    
    margin-top: 1px;
}

.sk-um-card-selected .sk-um-title, .sk-um-card-selected .skum-firstcol {
    color: rgb(0, 132, 255);
}


.sk-um-row > div {
    padding: 6px;
}
.sk-um-checkbox {

}

.sk-um-title {
    font-size: larger;
}
.sk-um-second-text {
    color: rgb(112, 111, 111);
}
.sk-um-as-cards .sk-um-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.103);
    background-color: rgba(0, 0, 0, 0.117);
    padding: 3px;
    display: flex;
    align-items: center;
}
.sk-um-as-table .sk-um-footer {
    padding: 3px;
    display: flex;
    align-items: center;
}

.sk-um-cgroup-tag {
    display: flex;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.349);
    box-shadow: 1px 3px 4px rgba(128, 128, 128, 0.24);
}
.sk-um-cgroup-tag:hover {
    box-shadow: 1px 3px 7px rgba(128, 128, 128, 0.54);
    background-color: rgba(255, 255, 255, 0.649);
}
.sk-um-cgroup-tag > div:nth-child(1){
    padding: 3px 9px;
}
.sk-um-cgroup-tag:hover > div:nth-child(2){
    background-color: rgba(255, 0, 0, 0.13);
    opacity: 1;
}

.sk-um-cgroup-tag > div:nth-child(2){
    cursor: pointer;
    padding: 3px 3px;
    opacity: 0.4;
}

.skum-firstcol {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sk-um-grid-4col {
    display: grid;
    grid-template-columns: 35px 40% auto auto;
    align-items: end;
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}
.sk-um-grid-5col {
    display: grid;
    grid-template-columns: 35px 40% 20% auto 90px;
    align-items: end;
    
}
.sk-mid-row-cc {
    border-top: 1px solid rgba(128, 128, 128, 0.233);
}

.sk-toolbox-trigger {
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding: 3px;
    opacity: 0.75;
}
.sk-toolbox-trigger.closed {
    border-bottom: 1px solid gainsboro;

}

.sk-toolbox-trigger:hover{
    opacity: 1;
}
.sk-tool-console {
    padding: 12px;
    background-color: rgb(237, 237, 237);
    min-height: 100vh;
    border-radius: 4px;
    border: 1px solid gainsboro;
}

.sk-flex-divider > div:not(:last-child) {
    border-right: #fff 2px solid;
    padding-right: 12px;
}

.sk-tool-console span {
    /* font-size: small;
    color: #808080;
    font-weight: 600;
    /* margin-bottom: 4px; */
}
.sk-company-tag {
    text-align: center;
    display: block;
    border-radius: 3px;
}

.sk-font-accent {
    font-weight: 600;
}



.sk-1col-body {
    display: flex;
}
.sk-1col-body > div:nth-child(2){
    display: none;
}
.sk-2col-body {
    display: grid;
    grid-template-columns: auto 300px;
}

/* from old file */
.sk-first-row-4group {
    display: grid;
    grid-template-columns: 80px auto;
}
.sk-first-row-4group > div {
    padding: 9px;
}

.sk-group-list-row {
    transition: all 0.2s;
    margin-bottom: 12px;
    box-shadow: 0 5px 10px 0px #223c5025;
    /* overflow: hidden; */
    border-radius: 9px;
    overflow: hidden;
}

.sk-group-list-row {
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    border-top: 0.5px solid var(--border-o-color);
    border-left: 0.5px solid var(--border-o-color);
    border-right: 0.5px solid var(--border-o-color);
    border-bottom: 0.5px solid var(--border-o-color);
}

.sk-group-list-row {
    --border-color: rgb(230, 230, 230);
    --border-o-color: rgb(228, 228, 228);
}

.sk-group-list-row:hover {
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.397);
}

.sk-group-list {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.sk-group-flexer-in-row {
    display: grid;
    grid-template-columns: 22px auto 89px 89px 100px 30px;
    width: 100%;
    border-bottom: 0.5px solid rgb(228, 228, 228);
    padding-top: 3px;
}
.sk-group-flexer-in-row:last-child {
    border-bottom: none !important;
}
.sk-group-flexer-in-row:hover {
    background-color:  rgba(0, 0, 0, 0.048);
}
.sk-group-flexer-in-row:hover .sk-groupcard-mini-trigger {
    opacity: 1;

}
.sk-groupcard-mini-trigger {
    transition: all 0.3s;
    text-align: center;
    opacity: 0.3;
    font-size: medium;
    cursor: pointer;
}
.sk-group-flexer-in-row img {
    width: 100%;
    padding-right: 6px;
}
.sk-groupcard-graystack {
    background-color: #ededed;
    padding: 6px;
}
.sk-groupcard-foot-triggs {
    padding: 3px;
    /* font-size: large; */
}

.sk-groupcard-foot-triggs > div {
    padding: 3px 12px;
    cursor: pointer;
}
.sk-second-row-group {
    background: #f1f1f1;
}


.sk-totoro {
    font-weight: 600;
    font-size: medium;
}



