.ant-layout-content {
    width: 100%;
    min-height: calc(100vh - 46px);
}

.mega-layout {
    width: 100%;
}

.layout {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.header {
    text-align: center;
    height: 64px;
    padding: 15px 0 0 0;
    border-radius: 0;
    background-color: transparent;
}

.sk-layout-center {}

aside .ant-layout .ant-layout-sider {
    background-color: #fff !important;
}
.sider {
    background-color: transparent !important;
    padding: 7px 0;
    overflow: hidden;
}
.pl15 {
    padding-left: 15px;
}
.pr15 {
    padding-right: 15px;
}
.sider-hidden {
    opacity: 0;
    padding-left: 0;
    padding-right: 0;
}
.sk-width-container {
    width: 315px;
    overflow: hidden;
}

.content {
    padding-bottom: 40vh;
}

.sk-pagination-wrapper {
    /*max-width: 1215px;*/
    display: grid;
    grid-template-columns: 1fr 125px;
    align-items: center;
    padding: 5px;
    background-color: #f5f5f5;
}

.sk-pagination-container {
    height: 42px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.sk-header-container {
    width: 100%;
    height: 44px;
    background-color: #eae9e9;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.page-header {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    height: 100%;
    line-height: 28px;
    font-weight: 500;
}

.sk-usp-filter-col {
    min-height: calc(100vh - 17px - 64px - 46px);
    background-color: #efefef;
    border: 1px solid gainsboro;
}

.sk-tool-console {
    background-color: #dfdfdf;
    border-radius: 6px;
    min-height: calc(100vh - 17px - 64px - 46px);
}

.sk-content-table-wrapper {
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.sk-content-table {
    /*max-width: 1215px;*/
    display: flex;
    flex-direction: column;
    grid-gap: 3px;
}

.sk-department-block {}

.sk-department-header {
    width: 100%;
    height: 40px;
    background-color: #C1CAD6;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;
    transition: .3s;
}
.sk-department-header-hover-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}
.sk-department-header-hover-container:hover {
    background-color: var(--row-hovered-bg-color);
}
.sk-department-header-p {
    min-width: 25px;
    margin: 0;
    font-weight: 500;
}

.sk-person-rows {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    background-color: #BFBFBF;
    /*outline: 2px solid #BFBFBF;*/
}

.sk-person-row {
    display: flex;
    flex-direction: column;
    grid-gap: 1px;
}

.sk-person-row-basic {
    width: 100%;
    min-height: 72px;
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-gap: 10px;*/
    cursor: pointer;
    transition: .3s;
}
.sk-person-row-basic-hover-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    grid-gap: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}
.sk-person-row-basic-groups {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 5px;
    padding: 5px;
    transition: .3s;
}
.sk-person-row-basic:hover {
    .sk-person-row-basic-hover-container {
        background-color: var(--row-hovered-bg-color);
    }
    .sk-person-row-basic-groups {
        background-color: var(--row-hovered-bg-color);
    }
}

.sk-person-row-content {
    flex-grow: 1;
}

.sk-person-row-p {
    min-width: 25px;
    margin: 0 0 10px 0;
}
.sk-person-row-p.occupy {
    color: #757575;
}

.sk-person-rules {
    display: flex;
    flex-direction: column;
    grid-gap: 1px;
}

.sk-person-schedule, .sk-person-rule {
    width: 100%;
    height: 36px;
    background-color: #FFFFFF;
}
.sk-person-schedule-hover-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(1px, 3fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 2fr);
    align-items: center;
    grid-gap: 1px;
}
.sk-person-schedule-hover-container:hover {
    background-color: var(--row-hovered-bg-color);
}
.sk-person-rule-hover-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(1px, 5fr) minmax(1px, 2fr);
    align-items: center;
    grid-gap: 1px;
}
.sk-person-rule-hover-container:hover {
    background-color: var(--row-hovered-bg-color);
}

.sk-schedule-cell {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #BFBFBF;
    margin: 0;
    padding: 5px;
    display: flex;
    grid-gap: 10px;
    align-items: center;
}
.sk-schedule-cell-center { justify-content: center;}
.sk-schedule-cell p { margin: 0; }
.sk-schedule-cell:last-child {
    border-right: none;
}

.sk-row-selected {
    outline: 2px solid #2b89e2;
}
