.sk-form-button-stack {
    display: flex;
    justify-content: space-around;
    color: rgb(46, 82, 122);
    background-color: rgba(255, 255, 255, 0.795);
}

.sk-form-button-stack > div {
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}
.sk-form-button-stack > .sk-active {
    background-color: #d8e1ef;

}
.sk-ffr-toolbar {
    display: flex;
    border-bottom: 1px solid white;
}
.sk-form-frame-row:last-child {
    border-top: 1px solid white;
}
.sk-fbs-vertstack {
    display: flex;
    flex-direction: column;
    padding: 3px 6px;
    border-right: 1px solid rgba(255, 255, 255, 0.575);
}
.sk-ffr-toolbar label {
    font-size: inherit !important;
    color:rgb(92, 92, 92);
}
.sk-fbs-br {
    border-right: 1px solid white;
}
.sk-fbs-bl {
    border-left: 1px solid white;
}
.sk-fbs-row-2c {
    display: grid;
    grid-template-columns: auto 220px;
}
.sk-fbs-row-2c .ant-input-number {
    width: 100%;
}

.sk-fbs-trule-item {
    /* background-color: rgb(222, 222, 222); */
    /* border: 3px solid white; */
    width: 100%;
    text-align: center;
    color: rgb(92, 92, 92);
    font-weight: 500;
    font-size: small;
}
.sk-fbs-cal-unit-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: white;
    min-height: 100px;
}
.sk-fbs-smena {
    transition: width 0.1s;
    transition: opacity 0.3s;
    display: block;
    position:absolute;
    height: 40px;
    background-color: rgba(0, 157, 255, 0.397);
    min-width: 1px;
    z-index: 1;
    opacity: 0;
}

.sk-fbs-smena.sk-rendered {
    opacity: 1;
}
.sk-fsb-calendar-item {
    min-height: 47px;
    /* border: 1px solid #ffffff; */
    text-align: center;
    font-weight: 500;
    transition: all 0.2s;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgb(109, 128, 150);
    z-index: 99;
}

.sk-fsb-calendar-item-back:hover:not(.outrange) .sk-calendar-item:active {
    background-color: rgb(0, 119, 255);
}
.sk-unit-selected {
    /* background-color: rgba(255, 102, 75, 0.258); */
    background-color: rgb(0 0 0 / 16%);
    /* box-shadow: inset 0px 0px 0px 1px #0000002e; */
    /* box-shadow: inset 0px 0px 0px 1px #003aa76e; */
    outline: 1px solid #00137e6e;
}
.sk-fbs-vstack-button {
    transition: all 0.1s;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}
.sk-fbs-vstack-button > * {
    padding: 3px;
}
.sk-fbs-vstack-button > small {
    color: rgb(92, 92, 92);
}

.sk-fbs-vstack-button:hover {
    background-color: rgba(0, 0, 0, 0.096);
    cursor: pointer;
}
.sk-fbs-vstack-button:active {
    background-color: rgba(0, 119, 255, 0.219);
    cursor: pointer;
}
.sk-fbs-calendar-item-back {
    transition: all 0.2s;
    background-color: rgb(255, 255, 255);
    border-bottom: 0.5px solid #cbcbcb;
    width: calc(100% / 7);
    box-sizing: border-box;
    padding: 0px;
}

.sk-fbs-smena.stickleft {
    border-right: 3px solid brown;
} 
.sk-fbs-smena.stickright {
    border-right: 2px solid rgba(90, 90, 90, 0.527);
}   