p {
    padding: 0;
    margin: 0;
}
h1 {
    padding: 0;
    margin: 0;
}
.sk_mega_layout {
    width: 100%;
    min-height: calc(100vh - 46px);
    padding: 10px 10px 0 10px;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 52px 52px 1fr;
}
.sk_user_tabs {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    background-color: #f5f5f5;
}
.sk_user_header {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    background-color: #f5f5f5;
}
.sk_user_id {
    max-height: 32px;
    line-height: 32px;
    font-size: 32px;
    color: #757575;
    margin: 0;
    padding: 0;
}
.sk_user_name {
    flex: 1 1 500px;
    max-height: 32px;
    line-height: 32px;
    font-size: 32px;
    margin: 0;
    padding: 0;
}
.sk_workspace {
    width: 100%;
    height: 100%;
}
/* BASE-INFO-----------------------------------------------------------------------------------*/
.sk_base_workspace {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.sk_user_info_column {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #efefef;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-gap: 2px;
    padding: 15px;
}
.sk_column_header {
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.sk_info_line {
    width: 100%;
    height: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 360px;
    border-bottom: 2px solid #BFBFBF;
}
.sk_line_label {
    font-size: 16px;
}
/* SCHEDULE-INFO-----------------------------------------------------------------------------------*/
.sk_schedule_workspace {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 15px;
    padding-top: 10px;
}
.sk_schedules_table {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.sk_schedule_linker {
    width: 100%;
    height: calc(100vh - 46px - 10px - 10px - 52px - 52px);
    background-color: #e1e1e1;
    border-radius: 6px;
    padding: 12px;
}
.sk_label_select {
    margin-bottom: 10px;
    color: #757575;
    font-size: 13px;
}
.sk_flex_space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BFBFBF;
    padding-bottom: 10px;
}
.sk_schedule_table_label {
    width: 100%;
    height: 44px;
    background-color: #EFEFEF;
    border-radius: 6px;
    padding: 10px;
    font-weight: 600;
}
.sk_pagination_wrapper {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sk_pagination_container {
    height: 44px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    grid-gap: 20px;
}
.sk_schedule_table {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
}
.sk_schedule_table_row_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    outline: 1px solid #BFBFBF;
    padding: 5px 0;
}
.sk_schedule_table_row {
    height: 72px;
    display: grid;
    grid-template-columns: 50px 50px 1fr 100px 100px 100px 100px 100px;
}
.sk_schedule_table_cell {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #BFBFBF;
}
.sk_schedule_table_cell_header {
    border-left: 1px solid #EBEBEB;
}
.sk_schedule_table_cell:first-child {
    border: none;
}
.sk_table_row_header {
    background-color: #C1CAD6;
}
.sk_table_row_active {
    background-color: #CBE8F3;
}
.sk_table_row_danger {
    background-color: rgba(255, 0, 0, 0.39);
}
.sk_schedule_table_break_row {
    width: 100%;
    height: 0;
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 50px 50px 1fr 100px 100px 100px 100px 100px;
}
.sk_break_row_open {
    height: 31px;
}
.sk_schedule_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sk_schedule_container_center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sk_schedule_name {
    font-size: 14px;
}
.sk_schedule_description {
    font-size: 12px;
    color: #757575;
}
.sk_schedule_table_header_p {
    width: 100%;
    color: #4C4C4C;
    text-align: center;
}
.sk_schedule_p {
    text-align: center;
}
.sk_schedule_icon {
    width: 100%;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.schedule_empty {
    background-image: url("../../../../public/media/schedule-empty.svg");
}
.schedule_flex {
    background-image: url("../../../../public/media/schedule-flex.svg");
}
.schedule_free {
    background-image: url("../../../../public/media/schedule-free.svg");
}
.schedule_shift {
    background-image: url("../../../../public/media/schedule-shift.svg");
}
.schedule_std {
    background-image: url("../../../../public/media/schedule-std.svg");
}
.schedule_sum {
    background-image: url("../../../../public/media/schedule-sum.svg");
}
/* RULES-INFO-----------------------------------------------------------------------------------*/
.sk_rules_workspace {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 15px;
    padding-top: 10px;
}
.sk_rules_linker {
    width: 100%;
    height: calc(100vh - 46px - 10px - 10px - 52px - 52px);
    background-color: #e1e1e1;
    border-radius: 6px;
    padding: 12px;
}
.sk_rules_table_container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.sk_rules_table_label {
    width: 100%;
    height: 44px;
    background-color: #EFEFEF;
    border-radius: 6px;
    padding: 10px;
    font-weight: 600;
}
.sk_rules_table {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
}
.sk_rules_table_row_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    outline: 1px solid #BFBFBF;
    padding: 5px 0;
}
.sk_rules_table_row {
    height: 72px;
    display: grid;
    grid-template-columns: 50px 50px 1fr 100px 100px 100px 100px;
}
.sk_rules_table_cell {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #BFBFBF;
}
.sk_rules_table_cell_header {
    border-left: 1px solid #EBEBEB;
}
.sk_rules_table_cell:first-child {
    border: none;
}
.sk_rules_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sk_rules_p {
    text-align: center;
}
.sk_rules_name {
    font-size: 14px;
}
.sk_rules_description {
    font-size: 12px;
    color: #757575;
}
.sk_rules_container_center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sk_rules_icon {
    width: 100%;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.rule_empty {
    background-image: url("../../../../public/media/ruletypes/auto-focus-svgrepo-com.svg");
}
.rule_flex {
    background-image: url("../../../../public/media/ruletypes/bed-svgrepo-com.svg");
}
.rule_free {
    background-image: url("../../../../public/media/ruletypes/eraser-svgrepo-com.svg");
}
.rule_shift {
    background-image: url("../../../../public/media/ruletypes/eraser-svgrepo-com-evening.svg");
}
.rule_std {
    background-image: url("../../../../public/media/ruletypes/lock-rotation-open-svgrepo-com.svg");
}
.rule_sum {
    background-image: url("../../../../public/media/ruletypes/magic-svgrepo-com.svg");
}
.rule_sum {
    background-image: url("../../../../public/media/ruletypes/piggy-bank-coin-svgrepo-com.svg");
}
.rule_sum {
    background-image: url("../../../../public/media/ruletypes/recycle-svgrepo-com.svg");
}
