.sk_pagination_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.sk_chart {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 2px;
}
.month_row {
    width: 100%;
    height: 34px;
    display: grid;
    grid-template-columns: 160px 1fr;
    background-color: #e9e9e9;
    outline: 2px solid #e1e1e1;
}
.month {

}
.user_row {
    width: 100%;
    height: 34px;
    display: grid;
    grid-template-columns: 160px repeat(30, 1fr);
    outline: 2px solid #e1e1e1;
}
.user_row:nth-child(even) {
    background-color: rgba(220, 220, 220, 0.3);
}
.user_row.by_day {
    background-color: #e9e9e9;
}
.by_week {
    background-color: #e9e9e9;
}
.chart_header_cell {
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.chart_cell {
    width: 100%;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
/*.chart_cell:last-child {*/
/*    border-right: 1px solid rgba(0, 0, 0, 0.1);*/
/*}*/
.weekend {
    background-color: #ffebee;
    color: #f34059;
}
.chart_cell_text {
    padding: 0;
    margin: 0;
}
/*.user_row:last-child .chart_cell {*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*}*/