.sk-super-ckartch-patch .ant-slider-mark-text-active {
    color: #ffffff !important;
    background-color: #1677ff !important;
}
.sk-super-ckartch-patch .ant-slider-mark {
    position: absolute !important;
    margin-top: -8px !important;
}

.sk-super-ckartch-patch {
    /*padding: 0 64px !important;*/
    padding: 0 5px 20px 5px !important;
    width: 100%;
}

.ant-slider-step, .ant-slider-track {
    z-index: 999;
}

.ant-slider-dot, .ant-slider-track, .ant-slider-step, .ant-slider-rail, .ant-slider-handle {
    height: 24px !important;
    opacity: 0 !important;
}


.ant-slider-mark-text {
    background-color: #e7e7e7;
    display: block;
    width: calc(100% / 12);
    border-radius: 5px;
}

.sk-content-table-wrapper-claims .ant-segmented-item-label > div > div {
    display: flex;
    align-items: center;
    height: 100%;
}.sk-content-table-wrapper-charts .ant-segmented-item-label > div > div {
    display: flex;
    align-items: center;
    height: 100%;
}
.sk-content-table-wrapper-claims .ant-segmented-item-label {
    display: flex !important;
    padding: 8px 8px 0 8px !important;
    width: 100%;
    height: 100%;
}
.sk-content-table-wrapper-claims-modal .ant-segmented-item-label {
    display: flex !important;
    padding: 8px 8px 0 8px !important;
    width: 100%;
    height: 100%;
}
.sk-content-table-wrapper-charts .ant-segmented-item-label {
    display: flex !important;
    padding: 2px 8px 2px 8px !important;
    width: 100%;
    height: 100%;
}

.sk-content-table-wrapper .ant-segmented-item-label .ant-segmented-item-icon {
    display: block !important;
    width: 25px !important;
    height: 25px !important;
}

.ant-dropdown-menu-item {
    grid-gap: 8px !important;
}
