


.sk-rule-card {
    transition: all 0.3s;
}
.sk-card-small-icon > img {
    width: 100%;
}
.sk-rule-card-head {
    display: grid;
    grid-template-columns: 22px auto 90px 30px 30px;
    grid-gap: 9px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 16px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 600;
}

.sk-rule-card.opened .sk-card-cooxer-cooxed {
    display: none;
}

.sk-rule-card.cooxed .sk-card-cooxer-opened {
    display: none;
}
/* .sk-grp-user-items-stack {
    transition: all ease 0.3s;
    height: 500px;
    overflow: hidden;
} */

.sk-rule-card.cooxed {
    margin-bottom: -12px;
}
.sk-rule-card.cooxed .sk-grp-user-items-stack {
    /* display: none; */
    height: 0px;
    background-color: #223c5025;
}

.sk-rule-type-1  {
    border-left: 6px solid #ff000069;
}
.sk-rule-type-2 {
    border-left: 6px solid #ff91004b;
}
.sk-rule-type-3 {
    border-left: 6px solid #7c550069;
}
.sk-rule-type-4 {
    border-left: 6px solid #00a2ff69;
}
.sk-rule-type-5 {
    border-left: 6px solid #00f5ab69;
}

.sk-rule-info {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
}
.sk-rule-info-1  {
    border: 1px solid #ff000069;
    background-color:  #ff00002c;
}
.sk-rule-info-2 {
    border: 1px solid #ff91004b;
    background-color:  #ff91001e;
}
.sk-rule-info-3 {
    border: 1px solid #7c550069;
    background-color:  #7c55002c;
}
.sk-rule-info-4 {
    border: 1px solid #00a2ff69;
    background-color:  #00a2ff2d;
}
.sk-rule-info-5 {
    border: 1px solid #00f5ab69;
    background-color:  #00f5ac3a;
}