.sk-cal-unit-head {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.sk-cal-unit-name {
    text-align: center;
    background-color: rgb(222, 222, 222);
    font-weight: bold;
}
.sk-cal-unit-body {
    display: flex;
    flex-wrap: wrap;             /* Позволяем элементам переноситься на следующую строку */
    justify-content: flex-start; 
}

.sk-calendar-item-back {
    width: calc(100% / 7);      /* Устанавливаем ширину элемента так, чтобы вмещалось 21 элемент в строку */
    box-sizing: border-box;       /* Учитываем отступы и границы в ширине */
    padding: 0px;
}
.sk-cal-unit {
    border: 1px solid rgb(222, 222, 222);
    background-color: #f2f2f2;
}
.sk-trule-item {
    background-color: rgb(222, 222, 222);
    /* border: 3px solid white; */
    width: 100%;
    text-align: center;
    color: rgb(92, 92, 92);
    font-weight: 500;
}
.sk-calendar-item-back {
    transition: all 0.2s;
    background-color: rgb(255, 255, 255);
}
.sk-calendar-item-back:hover:not(.outrange) {
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}
.outrange {
    opacity: 0.4;
    background-color: rgb(242 242 242);
}
.sk-calendar-item-back:hover:not(.outrange) .sk-calendar-item:active {
    background-color:  rgb(0, 119, 255);
}
.sk-calendar-item {
    min-height: 47px;          
    /* border: 1px solid #ffffff;   */
    text-align: center;       
    font-weight: 500;
    /* color: #555;
    border-radius: 6px; */
    transition: all 0.2s;
    user-select: none;
    opacity: 0.8;
    display: flex
    ;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    
}
/* .sk-calendar-item-back:hover > div {
    border: 1px solid rgb(0, 119, 255);
} */

.sk-unit-weekend {
    background-color: #ff000024;
}
.sk-unit-workday {
    background-color: rgba(0, 255, 64, 0);
}

.sk-unit-dayto > .sk-text::after {
    /* background-color: red; */
    display: block;
    content: '►';
    font-size:medium;
    border-radius: 50%;
    line-height: 10px;
}
.sk-unit-dayfrom > .sk-text::before {
    /* background-color: red; */
    display: block;
    content: '◄';
    font-size: smaller;
    border-radius: 50%;
    line-height: 10px;
}