.sk-calendar-top-rule {
    display: flex;
    border-radius: 6px;
}
.sk-calendar-top-rule > div {
    width: calc(100% / 21);  
    border-radius: 6px;
    text-align: center;
}


.sk-cal-modal-calendar table, .sk-cal-modal-calendar tbody {
    width: 100%;
}

.sk-cal-modal-calendar tr:first-child >td:first-child{
    /* width: calc(100% - 60px); */
    background-color: rgb(238, 238, 238);
}
.sk-cal-modal-calendar tr>td:nth-child(2){
    width: 50px;
    background-color: rgb(238, 238, 238);
}

 
.sk-calendar-body {
    display: flex;                /* Включаем flexbox */
    flex-wrap: wrap;             /* Позволяем элементам переноситься на следующую строку */
    justify-content: flex-start;  /* Выравнивание элементов по началу строки */
}

.sk-cal-modal-unitstack {
    display: grid;
    grid-gap: 12px;
}
.sk-cal-modal-unitstack.stack-3 {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
.sk-cal-modal-unitstack.stack-1 {
    grid-template-columns: auto;

}

.sk-cal-unit {
    border-radius: 12px;
    overflow: hidden;
}
.sk-cal-modal-toolbar {
    display: flex;
    justify-content: space-between;
}
.sk-cal-modal-toolbar > div {
    display: flex;
    grid-gap: 6px;
}



/* .sk-month-1 {
    background-color: rgb(146, 14, 199);
}
.sk-month-2 {
    background-color: rgb(77, 32, 166);
}
.sk-month-3 {
    background-color: rgb(48, 38, 183);
}
.sk-month-4 {
    background-color: rgb(41, 115, 179);
}
.sk-month-5 {
    background-color: rgb(34, 196, 180);
}
.sk-month-6 {
    background-color: rgb(0, 195, 81);
}
.sk-month-7 {
    background-color: rgb(0, 208, 17);
}
.sk-month-8 {
    background-color: rgb(127, 195, 0);
}
.sk-month-9 {
    background-color: rgb(219, 231, 6);
}
.sk-month-10 {
    background-color: rgb(230, 135, 3);
}
.sk-month-11 {
    background-color: rgb(195, 39, 0);
}
.sk-month-12 {
    background-color: rgb(176, 16, 88);
} */