.sk-claiman-type-selector {
    display: flex;
    align-items: stretch;
    margin-bottom: 12px;
}
.sk-claiman-type-selector > div  {
    min-width: 66px;
    height: 100%;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.6); */
    padding-bottom: 4px;
}
.sk-claiman-type-selector > div > div {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.801);
    margin-bottom: 4px;
}
.sk-claiman-typeselect-item {

    /* background-color: var(--table-border-divider-color); */
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    margin-right: 6px;
   font-size: x-small;
    /* border-radius: 12px; */
    /* opacity: 0.65; */
    /* border: 1px solid rgba(0, 0, 0, 0.116); */
    /* transform: scale(0.8); */
}
.sk-claiman-typeselect-item:hover {
    opacity: 1;
}

.sk-claiman-typeselect-item:hover:not(.sk-active) {
    background-color: rgb(236, 236, 236);
}
.sk-claiman-typeselect-item > div {
    padding: 3px 6px;
    transition: all 0.3s;
    background-color: rgba(212, 212, 212, 0.5);
}
.sk-claiman-typeselect-item.sk-active {
    /* box-shadow: -2px 5px 12px #0000006b; */
    opacity: 1;
    /* transform: scale(1.1); */
    z-index: 999;
    border-radius: 3px;
}

.sk-claiman-typeselect-item.sk-active > div {
    background-color: transparent;
    /* border: 1px solid transparent; */
    /* box-shadow: 1px 1px 9px gray; */
}
.sk-claim-select-icon {
    font-size: large;
    width: 100%;
    display: block;
    text-align: center;
}
.sk-clamen-headerrow {
    padding-left: 4px;
    padding-right: 3px;
}
.sk-clamen-card-wrapper {
    padding-bottom: 4px;
    /* padding-top: 1px; */
    padding-left: 4px;
    padding-right: 3px;
}
.sk-clamen-card-wrapper > .sk-clamen-card {
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    border-radius: 5px;
    color: rgb(31, 31, 31);
    max-height: 100px;
    transition: background 2.5s;
}
.sk-clamen-card-wrapper > .sk-clamen-card > div:first-child > div {
    background-color: rgba(255, 255, 255, 0.664);
    transition: all 0.3s;
    border-radius: 5px;
    border-bottom: 1px #8080804d solid;
}
.sk-clamen-card-wrapper:hover > .sk-clamen-card > div:first-child > div {
    background-color: rgba(255, 255, 255, 0.163);
}
/* .sk-clamen-card-wrapper:hover > .sk-clamen-card {
    background-color: rgba(255, 255, 255, 0.301);
} */
.sk-clamen-card {
    display: grid;
        grid-template-columns: 40px 2fr  3fr 100px 100px 50px 30px 38px 38px  36px;
        /* border: 1px solid #80808061; */
        border-top: none;
        background: var(--row-main-bg-color);
        transition: all ease 0.2s;
        box-shadow: -1px 1px 3px #00000042;
        max-height: 111px;
}
.sk-clamen-card > div:first-child {
    border-radius: 5px;
}
.sk-timestring-claim span:nth-child(2){
    color: rgb(22 119 255);
    font-size: larger;
    /* background-color: rgb(238, 238, 238); */
}
.sk-timestring-claim span:first-child{
    color: rgb(94, 94, 94);
    /* background-color: rgb(238, 238, 238); */
}
.sk-clamen-headerrow {
    /* background: #00000012 !important; */
    background-color: var(--row-header-color) !important;
    backdrop-filter: blur(22px);
    padding-bottom: 3px;
    padding-top: 3px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    
}
.ant-affix > .sk-clamen-headerrow > .sk-clamen-card {
    background: white;
    /* border: 1px solid transparent; */
    border-left: 1px solid var(--row-main-bg-color);
    border-right: 1px solid var(--row-main-bg-color);
}

.sk-clamen-card > div > div {
    padding: 4px;
    align-content: center;
    height: 100%;
}

div:not(.sk-clamen-headerrow)  > .sk-clamen-card:hover > div {
    background: var(--row-hovered-bg-color);
}

.sk-clamen-card > div:not(:first-child){
        box-shadow: -7px 0px 1px -6px var(--column-divider-color);
    }
.sk-clamen-card-trigger {
    display: flex;
        align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.074);
    font-size: large;
    cursor: pointer;
    max-height: 44px;
}
.sk-claim-select-icon-creatable {
    position: absolute;
}

.sk-timestring-claim {
    text-align: center;
}

.sk-claiminfo {
    font-size: smaller;
    overflow: auto;
    max-height: 100px;
    opacity: 0.75;
}
.sk-claiminfo > div {
    padding: 3px;
}
.sk-claiminfo > div:not(:first-child){
    border-top: 1px dashed rgb(194, 194, 194);
}

.sk-claim-modalinfo-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid gray;
}
.sk-claimcard-selected {
    background-color: var(--row-selected-color) !important;
}

/* input[readonly], textarea[readonly], .ant-input-textarea-affix-wrapper  {
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0px;
  } */
