.sk-claiman-type-selector {
    display: flex;
    align-items: stretch;
    margin-bottom: 12px;
}
.sk-claiman-type-selector > div  {
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    padding-bottom: 4px;
}
.sk-claiman-type-selector > div > div {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.801);
    margin-bottom: 4px;
}
.sk-claiman-typeselect-item {

    /* background-color: var(--table-border-divider-color); */
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    margin-right: 6px;
   font-size: x-small;
    /* border-radius: 12px; */
    /* opacity: 0.65; */
    /* border: 1px solid rgba(0, 0, 0, 0.116); */
    /* transform: scale(0.8); */
}
.sk-claiman-typeselect-item:hover {
    opacity: 1;
}

.sk-claiman-typeselect-item:hover:not(.sk-active) {
    background-color: rgb(236, 236, 236);
}
.sk-claiman-typeselect-item > div {
    padding: 3px 6px;
    transition: all 0.3s;
    background-color: rgba(212, 212, 212, 0.5);
}
.sk-claiman-typeselect-item.sk-active {
    /* box-shadow: -2px 5px 12px #0000006b; */
    opacity: 1;
    /* transform: scale(1.1); */
    z-index: 999;
    border-radius: 3px;
}

.sk-claiman-typeselect-item.sk-active > div {
    background-color: transparent;
    /* border: 1px solid transparent; */
    /* box-shadow: 1px 1px 9px gray; */
}
.sk-claim-select-icon {
    font-size: large;
    width: 100%;
    display: block;
    text-align: center;
}

.sk-clamen-card-wrapper > .sk-clamen-card {
    background-color: rgba(255, 255, 255, 0.644);
    transition: all 0.3s;
}
/* .sk-clamen-card-wrapper:hover > .sk-clamen-card {
    background-color: rgba(255, 255, 255, 0.301);
} */
.sk-clamen-card {
    display: grid;
        grid-template-columns: 40px auto 40px 80px 80px 50px 50px 70px 70px 50px  30px;
        border: 1px solid #80808061;
        border-top: none;
        background: var(--row-main-bg-color);
        transition: all ease 0.2s;
}

.sk-clamen-headerrow {
    /* background: #00000012 !important; */
    background-color: var(--row-header-color) !important;
    backdrop-filter: blur(22px);
    padding-bottom: 3px;
    padding-top: 3px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    
}
.ant-affix > .sk-clamen-headerrow > .sk-clamen-card {
    background: white;
    /* border: 1px solid transparent; */
    border-left: 1px solid var(--row-main-bg-color);
    border-right: 1px solid var(--row-main-bg-color);
}

.sk-clamen-card > div > div {
    padding: 4px;
    align-content: center;
    height: 100%;
}

div:not(.sk-clamen-headerrow)  > .sk-clamen-card:hover > div {
    background: var(--row-hovered-bg-color);
}

.sk-clamen-card > div{
        box-shadow: -7px 0px 1px -6px var(--column-divider-color);
    }
.sk-clamen-card-trigger {
    display: flex;
        align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.074);
    font-size: large;
    cursor: pointer;
}